__pychache__/
**/__pycache__/
*.npz
*.gpg
*.pyc
*.log
*.svg
*.png
*.npy
*.gif
*.mp4
*test.py
*test.sqlite
pylab/scripts/prewritten_sequences/*
measurements/ESR/*
measurements/Rabi/*
measurements/Sync/*
measurements/logfile_and_database/*
.ipynb_checkpoints/
.idea/
pylab/.venv/*
build/
UNKNOWN.egg-info/
.mypy_cache/
pylab.egg-info/
sample_yamls/
