# Ignore Python-related files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment and dependency directories
env/
venv/
Lib/
Scripts/
bin/
include/
libs/
dist/
qupyt.egg-info/

# Ignore system files and executables
*.exe
*.dll
*.pdb
*.dat
*.msg
LICENSE.txt
NEWS.txt
ReleaseNotes.html

# Ignore other specific folders
DLLs/
Doc/
Tools/
cmd/
dev/
mingw64/
share/
tcl/
usr/
