# Ignore Python-related files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment and dependency directories
env/
venv/
Lib/
Scripts/
bin/
include/
libs/

# Ignore system files and executables
*.exe
*.dll
*.pdb
*.dat
*.msg

